<!--req: titlePage -->
<!DOCTYPE html>
<html lang="en">
	<head><%- include ('partials/head', {titlePage:"Activities"}) %></head>

  <body class="container">       
    <header><%- include ('partials/header') %></header>  
    <nav><%- include ('partials/nav') %></nav>
    <main>    
      <p class="pt-5 pb-5">available activities</p> 
      <p>abadf</p>
      
    </main>      
    <footer><%- include('partials/footer') %></footer>
    <script src="j_js.js"></script>
  </body>
</html>